import tkinter as tk
from tkinter import ttk
from tkinter import *
import os
from PIL import Image, ImageTk
import sqlite3
import subprocess
import Support_files.functions as fun
from tkinter import messagebox
import numpy as np
#pip install -r requirements.txt